<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.markzhai.databindingsample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleDemoActivity"
            android:label="@string/demo_simple"/>
        <activity
            android:name=".TwoWayDemoActivity"
            android:label="@string/demo_inverse"/>
        <activity
            android:name=".ListDemoActivity"
            android:label="@string/demo_list"/>
        <activity
            android:name=".ExpressionDemoActivity"
            android:label="@string/demo_expression"/>
    </application>

</manifest>